<div class="body">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <a href="">
            <img src="src/assets/logo.png" alt="" style="width: 40px;">
          </a>
        </div>
        <div class="col-md-7">
          <button class="btn">
            <strong>Pull Requests</strong>
          </button>
          <button class="btn">
            <strong>Issues</strong>
          </button>
          <button class="btn">
            <strong>Marketplace</strong>
          </button>
          <button class="btn">
            <strong>Explore</strong>
          </button>
        </div>
        <div class="col md 4">
          <div class="dropdown">
            <button class="btn btn-dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="">New repository</a></li>
              <li><a href="">Import repository</a></li>
              <li><a href="">New gist</a></li>
              <li><a href="">New organization</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
