<div class="body">
  <div class="container">

    <h1>
      <span class="glyphicon glyphicon-search"></span> Search more than
      <strong>93m</strong> repositories</h1>
  </div>
  <div class="search">
    <form action="">
      <input type="text" placeholder="Search Github">
      <button type="submit">Search</button>
    </form>
    <br>
    <h4>
      <strong>ProTip!</strong> For an
      <a href="">advanced search,</a> use some of our
      <a href="">prefixes</a>
    </h4>
  </div>
  <div>
    <app-profile></app-profile>
  </div>

</div>
